@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Dobrodosli u EAM</h5>
    <hr />
    <a class="img-fluid " style="max-width: 10%;" asp-area="" asp-controller="Lokacijas" asp-action="Create"><img src="~/unesiLokaciju.PNG" class="img-fluid"></a>
    <a class="img-fluid " style="max-width: 10%;" asp-area="" asp-controller="Korisniks" asp-action="Create"><img src="~/unesiKorisnika.PNG" class="img-fluid"></a>
    <a class="img-fluid " style="max-width: 10%;" asp-area="" asp-controller="Sredstvoes" asp-action="Create"><img src="~/unesiSredstvo.PNG" class="img-fluid"></a>
    <a class="img-fluid " style="max-width: 10%;" asp-area="" asp-controller="Inventars" asp-action="Create"><img src="~/kreirajInventar.PNG" class="img-fluid"></a>
</div>
