@model Popis.Models.Inventar

@{
    ViewData["Title"] = "Create";
}

<h1>Kreiranje</h1>

<h6>Inventar</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kreirano" class="control-label"></label>
                <input asp-for="Kreirano" class="form-control" />
                <span asp-validation-for="Kreirano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zavrseno" class="control-label"></label>
                <input asp-for="Zavrseno" class="form-control" />
                <span asp-validation-for="Zavrseno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokacijaId" class="control-label"></label>
                <select asp-for="LokacijaId" class ="form-control" asp-items="ViewBag.LokacijaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Nazad</a>
</div>

